- name: "Postgres | Install"
  community.general.homebrew:
    name: postgresql@16
    state: latest

- name: "Postgres | Copy custom config"
  ansible.builtin.file:
    src: "{{ role_path }}/files/psqlrc"
    dest: "{{ ansible_user_dir }}/.psqlrc"
    state: link
    force: true
