[submodule "draculaiterm"]
	path = colors/dracula/iterm
	url = https://github.com/dracula/iterm.git
	branch = master
[submodule "draculazsh"]
	path = colors/dracula/zsh
	url = https://github.com/dracula/zsh.git
	branch = master
[submodule "z"]
	path = z
  url = https://github.com/rupa/z	
  branch = master
