.DS_Store
Brewfile.lock.json
!bin
nvim/bundle/*
nvim/plugged/*
nvim/autoload/*
nvim/pack/*
env_vars.zsh
local/share/*
nvim/plugin
tmux-client*.log
__pycache__
roles/tmux/files/tmux/plugins
roles/neovim/files/lazy-lock.json
